/**********************************************
 * STARTER CODE
 **********************************************/
.shapes, .square-red, .square-blue, .square-green, .square-purple, .square-orange, .circle-red, .circle-blue, .circle-green, .circle-purple, .circle-orange, .pentagon-red, .pentagon-blue, .pentagon-green, .pentagon-purple, .pentagon-orange, .hexagon-red, .hexagon-blue, .hexagon-green, .hexagon-purple, .hexagon-orange, .octagon-red, .octagon-blue, .octagon-green, .octagon-purple, .octagon-orange {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-red, .circle-blue, .circle-green, .circle-purple, .circle-orange, .square-red, .square-blue, .square-green, .square-purple, .square-orange {
  width: 100px;
  height: 100px;
  background-color: red;
}

.circle-red, .circle-blue, .circle-green, .circle-purple, .circle-orange {
  border-radius: 50%;
  background-color: red;
}

.pentagon-red, .pentagon-blue, .pentagon-green, .pentagon-purple, .pentagon-orange {
  position: relative;
  width: 54px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: red transparent;
}

.pentagon-red::before, .pentagon-blue::before, .pentagon-green::before, .pentagon-purple::before, .pentagon-orange::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent red;
}

.hexagon-red, .hexagon-blue, .hexagon-green, .hexagon-purple, .hexagon-orange {
  width: 100px;
  height: 55px;
  position: relative;
  background: red;
}

.hexagon-red::before, .hexagon-blue::before, .hexagon-green::before, .hexagon-purple::before, .hexagon-orange::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}

.hexagon-red::after, .hexagon-blue::after, .hexagon-green::after, .hexagon-purple::after, .hexagon-orange::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid red;
}

.octagon-red, .octagon-blue, .octagon-green, .octagon-purple, .octagon-orange {
  width: 100px;
  height: 100px;
  position: relative;
  background: red;
}

.octagon-red::before, .octagon-blue::before, .octagon-green::before, .octagon-purple::before, .octagon-orange::before {
  content: "";
  width: 42px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 29px solid #fff;
  border-right: 29px solid #fff;
  border-bottom: 29px solid red;
}

.octagon-red::after, .octagon-blue::after, .octagon-green::after, .octagon-purple::after, .octagon-orange::after {
  content: "";
  width: 42px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 29px solid #fff;
  border-right: 29px solid #fff;
  border-top: 29px solid red;
}

/**********************************************
 * YOUR CODE BELOW
 **********************************************/
.square-red {
  background-color: red;
  border-color: red;
}

.square-blue {
  background-color: blue;
  border-color: blue;
}

.square-green {
  background-color: green;
  border-color: green;
}

.square-purple {
  background-color: purple;
  border-color: purple;
}

.square-orange {
  background-color: orange;
  border-color: orange;
}

.circle-red {
  background-color: red;
  border-color: red;
}

.circle-blue {
  background-color: blue;
  border-color: blue;
}

.circle-green {
  background-color: green;
  border-color: green;
}

.circle-purple {
  background-color: purple;
  border-color: purple;
}

.circle-orange {
  background-color: orange;
  border-color: orange;
}

.pentagon-red {
  border-color: red transparent;
  background-color: red;
  border-color: red;
}

.pentagon-red::before {
  border-color: transparent transparent red;
}

.pentagon-blue {
  border-color: blue transparent;
  background-color: blue;
  border-color: blue;
}

.pentagon-blue::before {
  border-color: transparent transparent blue;
}

.pentagon-green {
  border-color: green transparent;
  background-color: green;
  border-color: green;
}

.pentagon-green::before {
  border-color: transparent transparent green;
}

.pentagon-purple {
  border-color: purple transparent;
  background-color: purple;
  border-color: purple;
}

.pentagon-purple::before {
  border-color: transparent transparent purple;
}

.pentagon-orange {
  border-color: orange transparent;
  background-color: orange;
  border-color: orange;
}

.pentagon-orange::before {
  border-color: transparent transparent orange;
}

.hexagon-red {
  background-color: red;
  border-color: red;
}

.hexagon-red::after {
  border-top: 25px solid red;
}

.hexagon-red::before {
  border-bottom: 25px solid red;
}

.hexagon-blue {
  background-color: blue;
  border-color: blue;
}

.hexagon-blue::after {
  border-top: 25px solid blue;
}

.hexagon-blue::before {
  border-bottom: 25px solid blue;
}

.hexagon-green {
  background-color: green;
  border-color: green;
}

.hexagon-green::after {
  border-top: 25px solid green;
}

.hexagon-green::before {
  border-bottom: 25px solid green;
}

.hexagon-purple {
  background-color: purple;
  border-color: purple;
}

.hexagon-purple::after {
  border-top: 25px solid purple;
}

.hexagon-purple::before {
  border-bottom: 25px solid purple;
}

.hexagon-orange {
  background-color: orange;
  border-color: orange;
}

.hexagon-orange::after {
  border-top: 25px solid orange;
}

.hexagon-orange::before {
  border-bottom: 25px solid orange;
}

.octagon-red {
  background-color: red;
  border-color: red;
}

.octagon-red::after {
  border-top: 25px solid red;
}

.octagon-red::before {
  border-bottom: 25px solid red;
}

.octagon-blue {
  background-color: blue;
  border-color: blue;
}

.octagon-blue::after {
  border-top: 25px solid blue;
}

.octagon-blue::before {
  border-bottom: 25px solid blue;
}

.octagon-green {
  background-color: green;
  border-color: green;
}

.octagon-green::after {
  border-top: 25px solid green;
}

.octagon-green::before {
  border-bottom: 25px solid green;
}

.octagon-purple {
  background-color: purple;
  border-color: purple;
}

.octagon-purple::after {
  border-top: 25px solid purple;
}

.octagon-purple::before {
  border-bottom: 25px solid purple;
}

.octagon-orange {
  background-color: orange;
  border-color: orange;
}

.octagon-orange::after {
  border-top: 25px solid orange;
}

.octagon-orange::before {
  border-bottom: 25px solid orange;
}
/*# sourceMappingURL=style.css.map */